header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  height: 10vh;
}

.wrapper {
  display: flex;
  width: 100%;
  // max-width: 1100px;
  margin: 0 auto;
}

.mapArea {
  flex-basis: 70%;
  height: 90vh;
  margin: 0;
  padding: 0;
  #mapid{
    height: 100%;
    width: 100%;
    z-index: 30;
  }
}

.contentArea {
  flex-basis: 30%;
  height: 90vh;
  overflow: scroll;
  padding: 0 1.8rem;
}

.headlineDiv {
  flex-basis: 70%;
}

.tempDiv {
  flex-basis: 30%;
  display: flex;
  justify-content: flex-start;
  padding: 0 1.8rem;
  white-space: nowrap;
}

.help-button{
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  width: 50px;
  height: 50px;
  z-index: 40;
}

.help {
  background-color: $bgColor;
  border-radius: 50%;
  font-size: 2rem;
  color: $torontoBlue;  
  z-index: 40;
  &:hover,
  &:focus,
  &:active {
    color: $accentBlue;
  }
}

label,
select {
  display: block;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border-radius: 4px;
  color: $torontoBlue;
  background-color: $bgColor;
  border: 1px solid $torontoBlue;
  padding: .5rem;
  background-image: url("../assets/arrow-down.svg");
  background-size: 8%;
  background-position: 95% center;
  background-repeat: no-repeat;
}

.nabeList {
  list-style: none;
  h3{
    margin: 15px 0 0 0;

  }
  p{
    margin: 0;
  }
}

.nabeSelector {
  width: 100%;
}
