header {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: .5rem;
  .headlineDiv {
    flex-basis: 70%;
  }
  .tempDiv {
    flex-basis: 30%;
    display: flex;
    padding: 0 1.8rem;
    white-space: nowrap;
  }

}

.wrapper {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.mapArea {
  flex-basis: 70%;
  height: 90vh;
  margin: 0;
  padding: 0;
  #mapid{
    height: 100%;
    width: 100%;
    z-index: 30;
  }
}

.contentArea {
  flex-basis: 30%;
  height: 90vh;
  overflow: scroll;
  padding: 0 1.8rem;
  label,
  select {
    display: block;
  }
}

label{
  color: $torontoBlue;
  font-weight: $fontBold;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $bgColor;
  background-image: url("../assets/arrow-down.svg");
  background-size: 1.25rem;
  background-position: 95% center;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 1px solid $torontoBlue;
  color: $torontoBlue;
  padding: .5rem;
  width: 100%;
}

.nabeList {
  list-style: none;
  h3{
    margin: 15px 0 0 0;

  }
  p{
    margin: 0;
  }
}

.selectionDiv {
  background-color: #ffffff;
  position: sticky;
  top: 0px;
  padding-bottom: .25rem;
}
