.mapArea{
    position: relative;
    z-index: 30;
}

.modal-open{
    align-items: center;
    background-color: rgba(64, 163, 255, 0.9);
    display: flex;
    justify-content: center;
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    z-index: 40;
}

.modal{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(17, 17, 17, 0.4);
    padding: 1.5rem 2rem;
}

.close-modal{
    position: relative;
    top: 10px; right: -95%;
    }
