//FONT FAMILY

$mainFont: 'Lato', sans-serif;

//FONT WEIGHT
$fontRegular: 400;
$fontBold: 700;

//COLOURS
$bgColor: #fafafa;
$torontoBlue: rgba(0, 87, 140, 1);
$torontoBlueTranslucent: rgba(0, 87, 140, 0.8);
$accentBlue: rgb(66, 157, 212);
